__pycache__/
*.py[cod]

*.log
*.coverage
*.lnk

venv/
env/
.venv/
.env/

*.code-workspace
.vscode/
.idea/

.env
*.env

*.7z
*.rar
*.txt
!requirements.txt
*.rc
!data/*.txt
!data/**/*.txt
!data/

*.zip
!data/*.zip
!data/**/*.zip

Thumbs.db
.DS_Store

*.orig

*.exe
*.dll
*.so
*.dylib

output/
build/
dist/
*.egg-info/
*.spec

*.python-version